
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

*,*:before,*:after{
    box-sizing: border-box;
}

/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Noticia Text', serif;*/

/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

body{
    font-family: 'Open Sans', sans-serif;
    color: #545454;
    font-size: 16px;

    background: #fff;
}

a{
    text-decoration:none;
}



/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/

.wrapper{
    width: 1200px;
    margin : 0 auto;
}


.margin-top{
    margin-top: 30px;
}

.margin-bottom{
    margin-bottom:30px;
}




/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/

header h1{
    display:flex;
    justify-content: center;
    align-items:center;

    color:#98c647;
}

header nav ul{
    display:flex;
    list-style:none;
    justify-content:space-between;
}

header nav li{
    flex-grow:1;
}


header nav a{
    display:flex;
    justify-content:center;
    padding-top:10px;
    padding-bottom:10px;
}


header nav a:hover{
    background: #f4f4f4;

}









